* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(cpsnb_slide3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}

header {
    background-color: rgb(210, 43, 43);
    padding: 20px;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .nav-links li {
        display: block;
        margin: 10px 0;
    }
}
h1{
    color: white;
}
h3{
    color: white;
}
.services-container {
    padding: 4rem 2rem;
}

.services-container h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.service-card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: black;
}

.service-card p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
}